html,
body {
  color: #291857; }

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #A5DFE7, #C7EC75) no-repeat; }

hr {
  margin: 10px 0; }

.header .wrapper {
  background: -webkit-gradient(linear, left top, right bottom, from(black), to(#464646));
  background: linear-gradient(to bottom right, black, #464646);
  height: 100px;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5); }
  .header .wrapper .logo {
    height: 100%;
    padding: 20px; }

.header .lip {
  height: 10px;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left top, right bottom, from(black), to(#464646));
  background: linear-gradient(to bottom right, black, #464646); }

.project {
  padding: 10px;
  font-size: 0; }
  .project .projectInner {
    display: inline-block;
    background-color: #F3F3F3;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    width: 100%; }
    .project .projectInner:hover {
      cursor: pointer; }
    .project .projectInner .projectImageWrapper {
      position: relative; }
      .project .projectInner .projectImageWrapper .projectStats {
        background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
        background: linear-gradient(transparent, black);
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        color: #F3F3F3;
        -webkit-transition: 300ms ease-in-out;
        transition: 300ms ease-in-out;
        opacity: 0; }
        .project .projectInner .projectImageWrapper .projectStats .stat {
          padding: 15px 0; }
      .project .projectInner .projectImageWrapper:hover .projectStats {
        opacity: 1; }
    .project .projectInner img {
      width: 100%; }

.projectTitle,
.projectCreator {
  margin: 10px 0; }

.projectTitle {
  font-weight: bold;
  font-size: 18px; }

.projectCreator {
  font-size: 14px; }

.projectStats {
  color: #291857;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 14px; }
  .projectStats .stat {
    text-align: center; }

.projectDetails {
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5); }
  .projectDetails .images {
    overflow-x: hidden;
    position: relative; }
    .projectDetails .images .image {
      vertical-align: top;
      padding: 10px; }
      .projectDetails .images .image img {
        max-width: 100%;
        max-height: calc(100vh - 70px);
        display: block;
        margin: 0 auto;
        -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 5px; }

.modalContent {
  margin: 10px;
  z-index: 1010;
  position: relative;
  background-color: #F3F3F3;
  border-radius: 5px; }

.modalMask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: none;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

.closeWrapper {
  font-size: 0; }
  .closeWrapper::after {
    display: table;
    content: '';
    clear: both; }
  .closeWrapper .closeIcon {
    width: 25px;
    height: 25px;
    position: relative;
    float: right;
    margin: 8px 8px 0 0; }
    .closeWrapper .closeIcon:hover {
      cursor: pointer; }
    .closeWrapper .closeIcon span {
      background-color: #F3F3F3;
      width: 100%;
      height: 4px;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      border-radius: 2px; }
      .closeWrapper .closeIcon span:first-child {
        -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        transform: translate(-50%, -50%) rotate(-45deg); }
      .closeWrapper .closeIcon span:last-child {
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg); }

.comment {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0; }
  .comment .nameAndDate {
    display: inline-block;
    vertical-align: middle; }
    .comment .nameAndDate p {
      margin: 0; }
  .comment img {
    border-radius: 5px;
    width: 70px;
    height: 70px;
    margin-right: 10px; }
  .comment .commentText {
    margin: 10px 0;
    word-wrap: break-word; }
  .comment .publishedOnText {
    color: #909090; }

.loadMoreComments,
.loadMoreProjects {
  margin: 0;
  border: none;
  border-radius: 5px;
  color: #007BFF;
  display: block;
  width: 100%;
  padding: 20px 0; }
  .loadMoreComments:focus,
  .loadMoreProjects:focus {
    outline: none; }
  .loadMoreComments:hover,
  .loadMoreProjects:hover {
    background-color: #EBEBEB;
    cursor: pointer; }

.loadMoreComments {
  background-color: #F3F3F3; }

.loadMoreProjectsButtonWrapper {
  padding: 10px;
  margin-bottom: 50px; }

.loadMoreProjects {
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  background-color: #F3F3F3; }

.projectControls {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 250;
  border-radius: 5px; }
  .projectControls .drawerOpener {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: inline-block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #2f3031;
    color: #F3F3F3;
    -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5); }
    .projectControls .drawerOpener:hover {
      cursor: pointer; }
    .projectControls .drawerOpener p {
      margin: 8px 25px; }
      .projectControls .drawerOpener p i {
        -webkit-transition: 300ms ease-in-out;
        transition: 300ms ease-in-out; }
  .projectControls .dropdownWrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 10px; }
    .projectControls .dropdownWrapper .dropdown {
      width: 100%; }
      .projectControls .dropdownWrapper .dropdown .filterToggle {
        background-color: grey;
        color: #F3F3F3;
        width: 100%; }
  .projectControls .controlButton > i {
    font-weight: 600; }
  .projectControls .controlButton.filterButton:hover, .projectControls .controlButton.sortButton:hover {
    cursor: pointer; }
  .projectControls .controlButton.filterButton:active, .projectControls .controlButton.sortButton:active {
    background-color: rgba(0, 0, 0, 0.2); }

.sorting {
  color: #F3F3F3;
  background-color: #2f3031;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  display: none; }
  .sorting > *:last-child {
    margin-bottom: 0; }
  .sorting .sortingGroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 10px; }
    .sorting .sortingGroup .orderingButtons {
      width: 100%; }
      .sorting .sortingGroup .orderingButtons .orderButton,
      .sorting .sortingGroup .orderingButtons .orderButtonInlineControl {
        width: calc(100% / 3);
        background-color: #F3F3F3; }

.errorModal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: none; }
  .errorModal .errorMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #F3F3F3;
    text-align: center;
    border-radius: 5px;
    width: 90%;
    max-width: 400px;
    -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5); }

.slick-slide {
  display: inline-block;
  outline: 0; }

.slick-list {
  overflow: hidden; }

.slick-prev {
  left: 0px; }

.slick-next {
  right: 0px; }

.slick-next,
.slick-prev {
  width: 32px;
  height: 32px;
  z-index: 1000; }
  .slick-next::before,
  .slick-prev::before {
    color: #291857;
    font-family: FontAwesome;
    font-size: 32px; }

.row {
  margin: 0; }

.btn-group {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 0.25em; }

.inner {
  padding: 10px 20px; }

.project {
  width: 100%; }

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: none;
  z-index: 1001; }

.modalShowing {
  overflow: hidden;
  height: 100%;
  position: relative; }

.paragraphMargin {
  margin: 15px 0; }

.disabledButton {
  color: #909090; }
  .disabledButton:hover {
    cursor: wait; }

.projectControls .active {
  background-color: grey !important;
  color: white; }

.padding-10 {
  padding: 10px; }

.inlineBlock {
  display: inline-block; }

.rotationalInvert {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

@media screen and (min-width: 800px) {
  .loadMoreProjects {
    width: 350px;
    margin: 0 auto; }
  .projectControls {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    margin: 0 0 0 auto; }
    .projectControls .drawerOpener {
      display: none; }
  .sorting {
    border-radius: 5px;
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px 10px 0 10px; }
    .sorting .sortingGroup,
    .sorting .dropdownWrapper {
      margin-bottom: 0;
      width: 95%;
      margin: 0 auto; } }

@media screen and (min-width: 1000px) {
  .modalContent {
    position: fixed;
    top: 50px;
    left: 50px;
    bottom: 50px;
    right: 50px; }
  .projectDetails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%; }
    .projectDetails .images {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .projectDetails .images .image {
        padding: 30px 50px;
        vertical-align: middle; }
        .projectDetails .images .image img {
          -o-object-fit: contain;
          object-fit: contain;
          -webkit-box-shadow: none;
          box-shadow: none;
          -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
          max-height: 100%;
          border-radius: 0; }
  .projectInfo {
    width: 375px;
    max-width: 500px;
    overflow-y: scroll; }
  .slick-track {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .slick-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%; }
  .slick-list {
    height: 100%; }
  .slick-next::before,
  .slick-prev::before {
    margin: 0 auto;
    display: block;
    text-align: center; } }

@media screen and (min-width: 1200px) {
  .projectInfo {
    width: 500px; } }

@media screen and (min-width: 1660px) {
  .col-xxl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; } }
