html {
  color: #291857; }

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #A5DFE7, #C7EC75); }

.designerNameWrapper {
  margin: 50px;
  display: inline-block;
  background-color: #EBEBEB;
  border-radius: 5px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5); }
  .designerNameWrapper .designerImage {
    height: 100px;
    width: 100px; }
  .designerNameWrapper .details {
    display: inline-block;
    vertical-align: middle;
    padding: 0 25px; }
    .designerNameWrapper .details * {
      margin: 0; }

.project {
  max-width: 500px; }
  .project img {
    width: 100%; }

.circle {
  border-radius: 50%; }
