html,
body {
  color: #291857; }

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #A5DFE7, #C7EC75); }

hr {
  margin: 10px 0; }

.project {
  padding: 10px;
  font-size: 0; }
  .project .projectInner {
    display: inline-block;
    background-color: #EBEBEB;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    width: 100%; }
    .project .projectInner:hover {
      cursor: pointer; }
    .project .projectInner .projectImageWrapper {
      position: relative; }
      .project .projectInner .projectImageWrapper .projectStats {
        background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
        background: linear-gradient(transparent, black);
        color: #EBEBEB;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        font-size: 14px; }
        .project .projectInner .projectImageWrapper .projectStats .stat {
          padding: 15px 0; }
    .project .projectInner .projectTitle,
    .project .projectInner .projectCreator {
      margin: 10px 0; }
    .project .projectInner .projectTitle {
      font-weight: bold;
      font-size: 18px; }
    .project .projectInner .projectCreator {
      font-size: 14px; }
    .project .projectInner img {
      width: 100%; }

.modalMask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none; }

.inner {
  padding: 10px 20px; }

.project,
.sizer {
  width: 100%; }

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: none;
  z-index: 1001; }

@media screen and (min-width: 500px) {
  .project,
  .sizer {
    width: 50%; } }

@media screen and (min-width: 800px) {
  .project,
  .sizer {
    width: 33.33%; } }

@media screen and (min-width: 1200px) {
  .project,
  .sizer {
    width: 25%; } }
