* {
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(-45deg, #c7ec75, #a5dfe7);
	height: 100vh;
}

.header {
	height: 200px;
	box-shadow: 0px 3px 10px 2px #888888; 
	background-color: white;
}

.filler {
	width: 50%;
}

.col-centered {
    float: left;
    margin: 0 auto;
    padding:0;
}

.graph {
	padding-top: 45px;
}

.iconContainer {
	margin-top: 30px;
	text-align: center;
	z-index: 100;
}

.icons {
	display: inline-block;
	margin: 0 25px;
}

// Flip Container ---------------------------
.flip-container {
	perspective: 1000px;
	overflow: hidden;
}

.flip-container.flip .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 700px;
	height: 500px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
	width: 800px;
	height: 500px;

}

.back {
	transform: rotateY(180deg);
	background: #f8f8f8;
}
// End ---------------------------

