* {
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(-45deg, #c7ec75, #a5dfe7);
	height: 100vh;
}

// Flip Container ---------------------------
.flip-container {
	perspective: 1000px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 600px;
	height: 480px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	background: url(../../img/graphTest.jpg) 0 0 no-repeat;
	z-index: 2;
	transform: rotateY(0deg);

}

.back {
	background: url(../../img/graphTest.jpg) 0 0 no-repeat;
	transform: rotateY(180deg);
	background: #f8f8f8;
}
// End ---------------------------