//**********************//
//**** Modules SASS ****//
//**********************//

.project {
    padding: 10px;
    font-size: 0; // Workaround for empty space on the .project element. Explicit font-size should be defined in child elements

    .projectInner {
        display: inline-block;
        background-color: $whiteColor;
        border-radius: $borderRadius;
        overflow: hidden;
        box-shadow: $boxShadow;
        width: 100%;

        &:hover {
            cursor: pointer;
        }

        .projectImageWrapper {
            position: relative;

            .projectStats {
                background: linear-gradient(transparent, black);
                color: $whiteColor;
                display: flex;
                align-items: flex-end;
                @include positioning(absolute, $l: 0, $r: 0, $b: 0);
                justify-content: space-around;
                font-size: 14px;
    
                .stat {
                    padding: 15px 0;
                }
            }
        }

        .projectTitle,
        .projectCreator {
            margin: 10px 0;
        }

        .projectTitle {
            font-weight: bold;
            font-size: 18px;
        }

        .projectCreator {
            font-size: 14px;
        }
    
        img {
            width: 100%;
        }
    }
}

.modalMask {
    @include positioning(fixed, 0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}