//**********************//
//**** Modules SASS ****//
//**********************//

.project {
    padding: 10px;
    max-width: 500px;

    .projectInner {
        display: inline-block;
        background-color: $whiteColor;
        border-radius: $borderRadius;
        overflow: hidden;
        box-shadow: $boxShadow;
        width: 100%;

        .projectImageWrapper {
            position: relative;
        }

        .projectTitle {
            margin: 20px 0;
            text-align: center;
        }
    
        img {
            width: 100%;
        }

        .projectStats {
            background: linear-gradient(transparent, black);
            color: $whiteColor;
            display: flex;
            align-items: flex-end;
            @include positioning(absolute, $l: 0, $r: 0, $b: 0);
            justify-content: space-around;

            .stat {
                padding: 15px 0;
            }
        }
    }
}