#bodyContainer {
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
	background: linear-gradient(to bottom right, #a5dfe7, #c7ec75);
}