//************************//
//**** Utilities SASS ****//
//************************//

.inner {
    padding: 10px 20px;
}

.project {
    width: 100%;
}

.loader {
    @include positioning(fixed, $t: 50%, $l: 50%);
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: none;
    z-index: 1001;
}

.modalShowing {
    overflow: hidden;
}

.evenMargin {
    margin: 20px 0;
}

.disabledButton {
    color: #909090;

    &:hover {
        cursor: wait;
    }
}

.projectControls .active {
    background-color: red;
}