//************************//
//**** Variables SASS ****//
//************************//

// Text Color Variables
$darkColor: #291857;
$whiteColor: #F3F3F3;

// Button Colors
$controlButtonColor: grey;

// Border Radius
$borderRadius: 5px;

// Box Shadow
$boxShadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
$lightBoxShadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

// Transition speed
$transTime: 300ms ease-in-out;